<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.eshop">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".vyrs3"></activity>
        <activity android:name=".vyrs2" />
        <activity android:name=".vyrs1" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".wwd3" />
        <activity android:name=".vyras2" />
        <activity android:name=".DashboardActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".moteris22" />
        <activity android:name=".vyras" />
        <activity android:name=".wwd2" />
        <activity android:name=".wwd1" />
        <activity android:name=".moteris" />
        <activity
            android:name=".manproducts"
            android:label="@string/title_activity_manproducts"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".CategoryActivity" />
        <activity android:name=".products" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>